button {
  outline: none;
}

svg {
  display: inline-block;
  vertical-align: bottom;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Connect4Row {
  display: flex;
}

.Connect4Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 50px;
  width: 50px;
  font-size: x-large;
  border: solid 1px rgb(31, 13, 114);
}

.counter {
  animation-name: drop;
  animation-duration: 0.5s;
}

@keyframes blink {
  from {border-color: black}
  to {border-color: red}
}

@keyframes drop {
  from {transform: translateY(-70px)}
  to {transform: translateY(0)}
}

.Connect4Button.hovered {
  box-shadow: 8px 10px rgb(83, 31, 143);
  transform: translateY(-4px);
}

.Connect4Button.winner {
  border: solid 3px red;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.GameButton {
  transition: all 0.5s;
  padding: 5px 8px;
  height: 50px;
  width: 300px;
  font-size: large;
  color: aqua;
  border: solid 1px rgb(17, 207, 27);
  margin-bottom: 10px;
  background-color: rebeccapurple;
  border-radius: 10px;
  box-shadow: 0 0 black;
}

.GameButton:hover {
  box-shadow: 10px 12px black;
  width: 320px;
  transform: translateY(-4px);
}

.GameButton:hover:active {
  transform: translateY(-2px);
  box-shadow: 7px 9px black;
}

.Result {
  padding: 5px 8px;
  height: 50px;
  min-width: 80px;
  border: solid 1px white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
